From: [% sender.email %]
Subject: [[% terms.Bug %] [%+ bug_id %]] This subject is ignored, only the [% terms.bug %] ID matters
Content-Type: text/plain; charset="UTF-8"

Comment added by email_in.pl (PID: [% pid %]). No other changes.
